:root {

    /* ФОН */

    --cl-white: #ffffff; /* Белый */
    --cl-bluish: #F1F2FB; /* Голубоватый */
    --cl-turquoise-pale: #F4FDFF; /* Бирюзовый бледный */
    --cl-lilac-pale: #F8F6FF; /* Сиреневый бледный */
    --cl-stroke: #E9EAF4; /* Обводка */
    --cl-black: #121217; /* Чёрный */
    --cl-black-2: #222222; /* Чёрный_2 */
    --cl-blue-medium: #2E81CC; /* Голубой средний */

    /* КНОПКИ */

    /* Чёрный_2 */
    /* Голубой средний */

    /* В КАРТИНКАХ */

    --cl-lb-in-pic: #B9DEFF; /* Светло-голубой в картинке */
    --cl-b-in-pic: #39A1FF; /* Голубой в картинке */
    --cl-db-in-pic: #150035;/* Тёмно-синий в картинке */

    /* В ЛОГОТИПЕ */

    --cl-lb-in-logo: #99D8FC; /* Голубой в логотипе */
    --cl-db-in-logo: #6587FD; /* Синий в логотипе */

    /* UI-ЭЛЕМЕНТЫ */

    --cl-light-gray: #DCDEE2; /* Серый светлый */
    --cl-dark-gray: #959597; /* Серый тёмный */

    /* ОШИБКА */

    --cl-red: #CF010D; /* Красный */

    /* Галочка */
    --cl-green: #029C08; /* Зелёный */
}